h1, h2 {
  font-family: Lato;
}

.container {
  width: 100%;
  height: 500px;
  background: #fff;
}

* {
  user-select: none;
}


@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: url('https://pro.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff2') format('woff2');
}

